*{margin:0; padding:0; font-family: Verdana,Arial,"Helvetica Neue",Helvetica,sans-serif; font-size:12px; line-height:20px;}
li{list-style-type:none}
.wrap {width:1024px; margin:0 auto;}
.naver a {padding:5px; font-weight:bold}
.price {color:#990000;}
.products li {float:left; width:160px; padding-top:10px; height:230px; overflow:hidden; margin-right:10px; }
.clr {clear:both; border-bottom:1px dashed #ccc; text-align:center; padding:10px 0;}
.title {clear:both; font-size:12px; font-weight:bold; border-bottom:1px #CCCCCC dashed; margin-bottom:15px; }
.products a {text-decoration:none;}
table {border-collapse:collapse;}